
body {
  background-color: black !important;
  color: white;
  font-family: 'Josefin Sans', sans-serif;
}

h1 {
  font-family: 'Josefin Sans', sans-serif;
}

h2 {
  font-family: 'Josefin Sans', sans-serif;
}

.shuttle-divider {
  margin: 0 !important;
}

.img-shadow {
  box-shadow: 0px -5px 22px 3px #000;
  z-index: 2;
}

.fixed-bg-dividers {
  box-shadow: inset 0px 5px 22px 3px #000;
}

.fixed-bg-dividers-top {
  box-shadow: inset 0px 20px 22px 3px #000;
}

.accordion-drop {
  width: 100%;
}

/* -------animated text ---------- */

svg {
  display: block;
  position: absolute;
  z-index: 5;
  font: 2000% 'Josefin Sans', sans-serif;
  margin: 0 auto;
}

.text-copy {
  fill: rgba(255, 255, 255, 0.06);
  stroke: white;
  stroke-dasharray: 6% 29%;
  stroke-width: 0.003em;
  stroke-dashoffset: 0%;
  animation: stroke-offset 5.5s infinite linear;
}

.text-copy:nth-child(1) {
  stroke: #90928f;
  animation-delay: -1;
}

.text-copy:nth-child(2) {
  stroke: #413c42;
  animation-delay: -2s;
}

.text-copy:nth-child(3) {
  stroke: #111;
  animation-delay: -3s;
}

.text-copy:nth-child(4) {
  stroke: #def6f8;
  animation-delay: -4s;
}

.text-copy:nth-child(5) {
  stroke: #e4cb54;
  animation-delay: -5s;
}

@keyframes stroke-offset {
  100% { stroke-dashoffset: -35%; }
}

/* ----------------------- */
#navbar-top {
  height: 8em;
  margin: 0;
}

#planet-choice {
  text-align: center;
}

#navbar-top-2 {
  height: 8em;
  margin: 0;
}

#grey-nav {
  height: 5em;
}

.ship-title-flavor {
  color: white;
  opacity: 0.5;
  font-size: 2em;
  padding-top: 1em;
  height: 3em;
  text-align: center;
  display: block;
  text-shadow:
    -1px -1px 1px #111,
    2px 2px 1px #363636;
}

#ship-side-img-before-m50 {
  object-fit: cover;
}

#ship-side-img-after-m50 {
  object-fit: cover;
}

/* ----------------------85x & m50 -------------------------------------- */
.acc-m50-85x {
  background: linear-gradient(rgba(0, 0, 0, 0.95), rgba(20, 20, 35, 0.62)), url(../assets/backgrounds/asterroid.jpg);
  background-attachment: fixed;
  background-size: cover;
  box-shadow: 0px 0em 3em 1.5em #000;
}

.info-text {
  padding-left: 3vw;
  padding-right: 60vw;
}

.ship-title-85x {
  float: left;
  padding-left: 5vw;
  line-height: 23vw;
  color: transparent;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 22vw;
  text-align: center;
  background: url(../assets/backgrounds/asterroid.jpg) repeat;
  background-attachment: fixed;
  background-size: cover;
  filter: hue-rotate(-20deg) brightness(4) drop-shadow(4px 4px 8px black);
  -webkit-background-clip: text;
}

.ship-title-m50 {
  float: right;
  padding-right: 5vw;
  line-height: 24vw;
  color: transparent;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 20vw;
  text-align: center;
  background: url(../assets/backgrounds/asterroid.jpg) repeat;
  background-attachment: fixed;
  background-size: cover;
  filter: hue-rotate(-20deg) brightness(4) drop-shadow(4px 4px 8px black);
  -webkit-background-clip: text;
}

.ship-par {
  display: fixed;

  /* position: absolute !important; */

}

#ship-M50 {
  padding: 0;
  overflow: hidden;
}

#m50-trophy-img {
  box-shadow: 0 0 10em 2em black;
  border-radius: 14em 0em 14em 0em;
}

#ship-par-m50 {
  position: absolute;
  top: 0;
}

#inset-85x-img {
  box-shadow: 0 0 10em 2em black;
  border-radius: 0em 14em 0em 14em;
}

#info-img-text-m50 {
  position: absolute;
  padding: 2vw;
  max-width: 38%;
  top: 31vw;
  left: 8vw;
  font-size: 1vw;
}

#info-img-text-m50 > h2 {
  font-size: 2vw !important;
}

/* ==================== 85x =========================== */
#ship-85x {
  padding: 0;
  overflow: hidden;
}

#ship-par-85x {
  position: absolute;
  top: 0;
}

#info-img-text-85x {
  position: absolute;
  padding: 2vw;
  max-width: 38%;
  top: 31vw;
  right: 8vw;
  font-size: 1vw;
}

#info-img-text-85x > h2 {
  font-size: 2vw !important;
}

#ships-title-m50 {
  position: static;
  background-image: url(../assets/backgrounds/asterroid.jpg);
  background-attachment: fixed;
  background-size: cover;
  height: 20vw;
  width: 100%;
}

#ships-title-85x {
  position: static;
  background-image: url(../assets/backgrounds/asterroid.jpg);
  background-attachment: fixed;
  background-size: cover;
  height: 20vw;
  width: 100%;
}

#ships-title2 {
  position: static;
  background-image: url(../assets/backgrounds/asterroid.jpg);
  background-attachment: fixed;
  background-size: cover;
  height: 10vw;
  width: 100%;
}

/* ------------------------------ 300 Series ------------------------------------------ */

.ship-title-300 {
  opacity: 1;
  line-height: 30vw;
  color: transparent;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 16vw;
  text-align: center;
  background: url(../assets/backgrounds/helmets.png) repeat;
  background-attachment: fixed;
  background-size: cover;
  -webkit-filter: invert(100%);
  filter: hue-rotate(25deg) brightness(5) drop-shadow(10px 10px 10px black);
  -webkit-background-clip: text;
}

#ships-300-title-par {
  position: static;
  background-image: url(../assets/backgrounds/helmets.png);
  background-attachment: fixed;
  background-size: cover;
  height: 20vw;
  width: 100%;
}

#ships-title-300-series-names {
  position: static;
  background-image: url(../assets/backgrounds/helmets.png);
  background-attachment: fixed;
  background-size: cover;
  height: 20vw;
  width: 100%;
}

.ships-300-names {
  display: inline-block;
  line-height: 32vw;
  color: transparent;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 7vw;
  text-align: center;
  background: url(../assets/backgrounds/helmets.png) repeat;
  background-attachment: fixed;
  background-size: cover;
  filter: hue-rotate(-20deg) brightness(4) drop-shadow(4px 4px 8px black);
  -webkit-background-clip: text;
  width: 33.33333%;
}

.ships-title-300i-series-name {
  float: left;

}

.ships-title-315p-series-name {

}

.ships-title-325a-series-name {
  float: right;
}

#ships-350-par {
  position: static;
  background-image: url(../assets/backgrounds/helmets.png);
  background-attachment: fixed;
  background-size: cover;
  height: 10vw;
  width: 100%;
}

#ship-300i {
  padding: 0;
  overflow: hidden;
}

#ship-315p {
  padding: 0;
  position: relative;
  overflow: hidden;
}

#ship-315p-gif {
  width: 100%;
  height: 169%;
  position: absolute;
  top: -33%;
  left: 0;
}

#ship-325a {
  padding: 0;
  overflow: hidden;
}

#ship-350r {
  padding: 0;
  overflow: hidden;
  height: 56vw;
}

#ship-350r-img {
  top: -24%;
}

#info-img-text-350r {
  /* position: absolute; */
  padding-top: 2vw;
  padding-bottom: 2vw;
  padding-left: 5vw;
  padding-right: 8vw;

  /* right: 25%;
  left: 25%; */
  /*top: 25vw;*/
  text-align: justify;
  font-size: 1vw;
  /* color: black; m*/
}

#info-img-text-350r > h2 {
  font-size: 5vw !important;
  text-align: center;
  color: transparent;
  background: url(../assets/backgrounds/helmets.png) repeat;
  background-attachment: fixed;
  background-size: cover;
  filter: hue-rotate(-5deg) brightness(4) drop-shadow(4px 4px 8px black);
  -webkit-background-clip: text;
}

#info-img-text-350r > a {
  color: white !important;
}

#modal-350r-button-div {
  position: absolute;
  top: 10em;

}

#ships-300-bottom-par {
  position: static;
  background-image: url(../assets/backgrounds/helmets.png);
  background-attachment: fixed;
  background-size: cover;
  height: 10vw;
  width: 100%;
}

#ship-300-jump {
  width: 30vw;
}

.murry-cup-trophy {
  position: absolute;
}

.murry-cup-trophy > img {
  width: 25%;
}

.embed-murray {
  height: 0;
  overflow: hidden;
}

.embed-murray-16x9 {
  padding-bottom: 56.25%;
}

.embed-murray > iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.acc-300 {
  background: linear-gradient(rgba(0, 0, 0, 0.95), rgba(20, 20, 35, 0.62)), url(../assets/backgrounds/helmets.png);
  background-attachment: fixed;
  background-size: cover;
  box-shadow: 0px 0em 3em 1.5em #000;
}

/* -------------------------------- 890 Image 4900x1900 --------------------------------------- */

#ship-890jump {
  padding: 0;
  overflow: hidden;
}

#ship-890-title-par {
  position: static;
  color: white;
  background-image: url(../assets/backgrounds/atmo.jpg);
  background-attachment: fixed;
  background-size: cover;
  width: 100%;
}

.ship-title-890 {
  opacity: 1;
  line-height: 30vw;
  color: transparent;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 16vw;
  text-align: center;
  background: url(../assets/backgrounds/atmo.jpg) repeat;
  background-attachment: fixed;
  background-size: cover;
  -webkit-filter: invert(100%);
  filter: hue-rotate(25deg) brightness(3) drop-shadow(10px 10px 10px black);
  -webkit-background-clip: text;
}

#ship-890-bottom-par {
  position: static;
  color: white;
  background-image: url(../assets/backgrounds/atmo.jpg);
  background-attachment: fixed;
  background-size: cover;
  height: 10vw;
  width: 100%;
}
